srscProject/src/main/java/main.class
srscProject/src/main/java/ReadFile.class
srscProject/src/main/resources/cryptoconfig.txt
srscProject/src/main/java/Utils/RandomBytesGenerator.class
srscProject/src/main/java/Utils/ToHex.class
*.class
/srscProject/target/
